.modal-conatiner {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #131313;
  margin: auto;
  height: 80%;
  min-width: 400px;
  width: 40%;
  z-index: 50;
}

input {
  text-align: left;
  color: black;
}
